<nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
    <a class="navbar-brand" href="/home">Praveen Kumar Mudem</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" routerLink="/home/" routerLinkActive="active">Home</a>
          </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about/" routerLinkActive="active">About me</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact/" routerLinkActive="active">Contact me</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">         
        <li tooltip="Follow me on GitHub" placement="bottom">
          <a href="https://github.com/praveen-mudem" target="_blank" rel="noopener">
            <i class="fa fa-github fa-lg fa-fw"></i> <span class="visible-xs-inline">Follow me on GitHub</span>
          </a>
        </li>
        <li tooltip="Connect with me on LinkedIn" placement="bottom">
          <a href="https://www.linkedin.com/in/praveen-mudem" target="_blank" rel="noopener">
            <i class="fa fa-linkedin fa-lg fa-fw"></i> <span class="visible-xs-inline">Connect with me on LinkedIn</span>
          </a>
        </li>         
      </ul>
    </div>
  </nav>

